// Colors global
$color-primary: #e7cf0f;
$colorPrimary: #e7cf0f;
$color-secondary: #110f0d;
$colorSecondary: #110f0d;
$md-breackpoint: 768px;

@font-face {
    font-family: 'Bahnschrift';
    src: url('/BAHNSCHRIFT.TTF') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
}

.base__header {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}