// Colors global
$color-primary: #e7cf0f;
$colorPrimary: #e7cf0f;
$color-secondary: #110f0d;
$colorSecondary: #110f0d;
$md-breackpoint: 768px;

@font-face {
    font-family: 'Bahnschrift';
    src: url('/BAHNSCHRIFT.TTF') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
}

.base__header {
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

.base__table {
    background-color: #ffffff !important;
    height: 59vh !important;
    scrollbar-width: thin;
    @media screen and (min-height: 900px) {
        height: 62vh !important;
    }
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 5px;  /* Ancho del scroll */
}

/* Estilo del "track" (fondo de la barra de desplazamiento) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Estilo del "thumb" (barra que se mueve) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Cambio de color al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
