.auth__root{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    
}

.auth__papaer {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 35vw;
}

.auth__form {
    width: 100%;
    margin-top: 1rem;
}

.auth__input {
    background-color: transparent;
}

.text__primary {
    color: $color-primary;
}