.ui__loading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.css-cyxlny-MuiPaper-root-MuiDialog-paper {

    overflow-y: hidden !important;
}